body {
}

.invader-1 {
  background-image: url("/invader.svg");
  background-repeat: no-repeat;
}

.invadersGrid1 {
  position: absolute;
  display: grid;
  grid-template-columns: repeat(7, 50px);
  grid-template-rows: repeat(5, 50px);

  top: 0;
}
